.benefits {
  background: rgb(30,79,64);
  background: linear-gradient(180deg, rgba(30,79,64,1) 0%, rgba(18,55,44,1) 96%);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;

  h2 {
    color: white;
  }

  .benefit {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;

    &__text {
      color: white;
      margin: 1rem 0;
      order: 2;

      h3 {
        text-align: left;
        margin-bottom: 1rem;
        color: inherit;
      }
    }
    &__image {
      order: 1;
      flex: 1 0 50%;
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  .benefits {
    .benefit {
      flex-direction: row;

      &__text {
        margin: 1rem 0;
        order: 2;
      }
      &__image {
        order: 1;
      }

      &--reverse {
        .benefit__text {
          order: 1;
        }
        .benefit__image {
          order: 2;
        }
      }
    }
  }
}