.features {
  .wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .feature-card {
      position: relative;
      border: 1px solid blue;
      flex: 0 1 280px;
      padding: 1rem;
    

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }

      &__text {}
    }
  }
}

@media only screen and (min-width: 600px) {
  .features {
    .wrapper {

      .feature-card {
        border: 1px solid blue;
        width: calc(33% - 2rem);
        padding: 1rem;
      

        &__title {
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
        }
      }
    }
  }
}