@use 'reset';
@use 'nav';
@use 'hero';
@use 'features';
@use 'benefits';
@use 'contact';
@use 'gallery';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #1E4F40;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}


section {
  padding: 4rem 2rem !important;
}

.separator {
  position: absolute;
  top: -199px;
  background-color: #1E4F40;
  height: 200px;
  width: 100%;
  clip-path: polygon(100% 52%, 0% 100%, 100% 100%);
}

.preload * {
  transition: none !important;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  height: calc(100% - 60px);
}
